* { 
	margin: 20px;
	font-family: Arial, sans-serif;
	padding: 10px;
}

nav {
	text-decoration: none;
	color: #b66277;
	font-weight: bold;
	font-size: 18px;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 18px;
}

h1 {
	
	color: #0d2bda;

}

ul {
	list-style-type: none;
	padding: 0;
}