---
import '../styles/styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<a href="/">inicio </a>
		<a href="/about">Sobre nosotros </a>
		<a href="/Blog">Blog </a>

		<h1>blog</h1>
		<h2>articulo</h2>
		<ul>
			<li><a href="/posts/post-1">primer post</a></li>

			<li><a href="/posts/post-2">segundo post</a></li>
			<li><a href="/posts/post-3">tercero post</a></li>
		</ul>
		<p>sheyla astro</p>
	</body>
</html>
